@charset "utf-8";

.howto_table
{
	border-collapse: collapse;
}

.howto_tr
{
	vertical-align: top;
}

.howto_left
{
	width: 50px;
	border-top: 1px solid #000000;
}

.howto_middle
{
	border-top: 1px solid #000000;
}

.howto_right
{
	height: 150px;
	border-top: 1px solid #000000;
}

.howto_img
{
	border: 2px solid #0000FF;
}

.scenario
{
	padding-top: 10px;
	padding-left: 20px;
}

.title
{
	padding-top: 10px;
	text-decoration: underline;
}

.indent
{
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.codeIndent
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.spacer
{
	margin-top: 10px;
}

h4
{
	clear: both;
}
