.jcarousel-skin-NoveList .jcarousel-container {
}

.jcarousel-skin-NoveList .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-NoveList .jcarousel-container-horizontal {
    width: 570px;
    padding: 20px 40px;
}

.jcarousel-skin-NoveList .jcarousel-clip-horizontal {
    width:  570px;
    height: 392px;
}

.jcarousel-skin-NoveList .jcarousel-item {
    width: 570px;
    height: 392px;
}

.jcarousel-skin-NoveList .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-NoveList .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-NoveList .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-NoveList .jcarousel-next-horizontal {
    position: absolute;
    top: 190px;
    right: 0px;
    width: 32px;
    height: 36px;
    cursor: pointer;
    background: transparent url(sliderspritearrows.png) no-repeat -160px 0;
}

.jcarousel-skin-NoveList .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-position: -160px 0;
    background-image: url(sliderspritearrows.png);
}
 

.jcarousel-skin-NoveList .jcarousel-next-horizontal:hover {
    background-position: -96px 0;
}

.jcarousel-skin-NoveList .jcarousel-next-horizontal:active {
    background-position: -96px 0;
}

.jcarousel-skin-NoveList .jcarousel-next-disabled-horizontal,
.jcarousel-skin-NoveList .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-NoveList .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -128px 0;
}

.jcarousel-skin-NoveList .jcarousel-prev-horizontal {
    position: absolute;
    top: 190px;
    left: 5px;
    width: 32px;
    height: 36px;
    cursor: pointer;
    background: transparent url(sliderspritearrows.png) no-repeat -64px 0;
}

.jcarousel-skin-NoveList .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: 5px;
    right: auto;
    background-image: url(sliderspritearrows.png);
}

.jcarousel-skin-NoveList .jcarousel-prev-horizontal:hover {
    background-position: 0px 0;
}

.jcarousel-skin-NoveList .jcarousel-prev-horizontal:active {
    background-position: 0px 0;
}

.jcarousel-skin-NoveList .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-NoveList .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-NoveList .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -32px 0;
}
