* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 10px;
    font-family: verdana;
}
a, a:visited {
    color: #192666;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 0px;
}
#result {
    min-height: 200px;
    background: url(images/searchBg.gif);
}
#links {
    background: url(images/iconArticle.gif) no-repeat 10px;
    border-bottom: 1px solid white;
    padding: 4px;
    padding-left: 35px;
}
